@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Witaj w Dzienniku Żywieniowy!</h1>
    <p class="lead mt-4">
        Dziennik Żywieniowy to aplikacja, która pomaga Ci śledzić codzienne spożycie kalorii i monitorować swoje cele zdrowotne.
    </p>
    <p>
        Dzięki funkcjom takim jak rejestracja posiłków, zarządzanie produktami i zapisywanie aktywności fizycznej,
        możesz łatwo zarządzać swoim stylem życia i osiągać swoje cele.
    </p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4">
            <h3>Rejestruj posiłki</h3>
            <p>Śledź swoje codzienne posiłki i monitoruj ich wartość kaloryczną.</p>
        </div>
        <div class="col-md-4">
            <h3>Zarządzaj produktami</h3>
            <p>Dodawaj produkty do bazy danych i korzystaj z nich w rejestrze posiłków i monitoruj ich cenę.</p>
        </div>
        <div class="col-md-4">
            <h3>Oblicz deficyt kaloryczny</h3>
            <p>Rejestruj swoje aktywności fizyczne i zobacz, ile kalorii spaliłeś każdego dnia.</p>
        </div>
    </div>
    <a class="btn btn-primary btn-lg mt-4" href="/Entries" role="button">Zacznij teraz</a>
</div>
